.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: 250px;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.col:hover .image {
  opacity: 0.3;
}

.col:hover .middle {
  opacity: 1;
}

.text {
  color: #444;
  font-size: 16px;
  padding: 16px 32px;
  font-weight: bold;
}