<div class="container">
  <div class="row pb-4">
    <div class="col">
      <img src="../../../assets/lipsticks.jpg" alt="Avatar" class="image">
	  <div class="middle">
	    <div class="text">Lipsticks</div>
	  </div>
    </div>
    <div class="col">
      <img src="../../../assets/spa.jpg" alt="Avatar" class="image">
	  <div class="middle">
	    <div class="text">Spa Gifts</div>
	  </div>
    </div>
    <div class="col">
      <img src="../../../assets/eyeshadow.jpg" alt="Avatar" class="image">
	  <div class="middle">
	    <div class="text">Eyeshadow Palettes</div>
	  </div>
    </div>
  </div>
  <div class="row pb-4">
    <div class="col">
      <img src="../../../assets/nailpolish.jpg" alt="Avatar" class="image">
	  <div class="middle">
	    <div class="text">Nail Polishes</div>
	  </div>
    </div>
    <div class="col">
      <img src="../../../assets/contour.jpg" alt="Avatar" class="image">
	  <div class="middle">
	    <div class="text">Contour Palettes</div>
	  </div>
    </div>
    <div class="col">
      <img src="../../../assets/moisturizer.jpg" alt="Avatar" class="image">
	  <div class="middle">
	    <div class="text">Moisturizers</div>
	  </div>
    </div>
  </div>
  <div class="row pb-4">
    <div class="col">
      <img src="../../../assets/facecream.jpg" alt="Avatar" class="image">
	  <div class="middle">
	    <div class="text">Face Creams</div>
	  </div>
    </div>
    <div class="col">
      <img src="../../../assets/blush.jpg" alt="Avatar" class="image">
	  <div class="middle">
	    <div class="text">Blush</div>
	  </div>
    </div>
    <div class="col">
      <img src="../../../assets/brushes.jpg" alt="Avatar" class="image">
	  <div class="middle">
	    <div class="text">Makeup Brush Sets</div>
	  </div>
	</div>
  </div>
</div>