.outer-container {
	text-align:center;
	width: 100vw;
	min-height: 100vh;
	background-image: url("../../../assets/w1.jpg");
	background-repeat: no-repeat;
    background-size: 100% 125%;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.content {
	height: 85vh;
}

h1 { font-family: "Pinyon Script"; font-size: 90px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 40.4px; } h3 { font-family: "Pinyon Script"; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: "Pinyon Script"; font-size: 20px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: "Pinyon Script"; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: "Pinyon Script"; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }

.scroll {
	font-family: Gruppo; font-size: 35px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 55px; border-bottom: 1px dotted #000; text-decoration: none; color: #444;
}