.app-bg {
	text-align:center;
	width: 40vw;
	min-height: 85vh;
	background-image: url("../../../assets/w2.jpg");
	background-repeat: no-repeat;
    background-size: 100% 100%;
}

.text-segment {
	width: 60vw;
}

h1 { font-family: Gruppo; font-size: 50px; font-style: normal; font-variant: normal; line-height: 40.4px; color: #837f7f;} h3 { font-family: "Pinyon Script"; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: "Pinyon Script"; font-size: 20px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: "Pinyon Script"; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: "Pinyon Script"; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }

.scroll {
	font-family: Gruppo; font-size: 20px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 35px; text-decoration: none; color: #444;
}

.text {
  color: #444;
  font-family: Gruppo;
  font-style: normal; 
  font-variant: normal; 
  font-weight: 400;
}