<div class="container">
  <div class="d-flex flex-row">
	 <div class="d-flex justify-content-start text-segment">
	 	<article class="content d-flex align-items-center">
	    <header>
	      <h1 class="display-4">Checkout our GlamUp App</h1>
	      <p><a class="scroll">Available for download in Google Playstore</a></p>
	      <p class="text"><b>GlamUp</b> brings together the latest and most popular cosmetic product lines for the customers. Cosmetic brand owners upload their latest products and the glamup users review the product.</p>
	    </header>
	  </article>
	 </div>
	 <div class="d-flex justify-content-end app-bg"></div>
  </div>
</div>
