<div class="container">
	<div class="d-flex justify-content-start"><h5>MY PRODUCTS</h5></div>
    <div class="card-columns">
	  <div class="card" *ngFor="let product of products">
	    <img [src]="product.productImage" class="card-img-top">
	    <div class="card-body">
	      <h5 class="card-title">{{ product.productName}}</h5>
	      <p class="card-text" *ngIf="product.productSubtitle != ''">{{ product.productSubtitle }}</p>
	      <p class="card-text" *ngIf="product.shadeName != ''">{{ product.shadeName }}</p>
	      <p class="card-text" *ngIf="product.shadeSubtitle != ''">{{ product.shadeSubtitle }}</p>
	    </div>
	  </div>
	</div>
</div>