form {
  width: 60vw;  
  padding: 50px;
  border: 1px solid #f8d0de;
}

.btn-primary {
  background-color: #e46993;
  border-color: #e05383;
}

h5 {
  color: #837f7f;
  font-family: Gruppo;
  font-style: normal; 
  font-variant: normal; 
  font-weight: 400;
}